:root {
	--color_back: #000; /*#DDDDDD */
	--color_one: #BBB; /*#999999 */
	--color_two: #AAA; /*#AAAAAA */
	--margin_small: 15px;
	--margin_big: 50px;
	font-family: Arial;
}

::selection {
	color:#999;
	background-color:black;
}

/* background slide */
.slideshow {
  list-style: none;
  z-index: -1;
}
.slideshow li span {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: -2;
  backface-visibility: hidden;
  animation: imageAnimation 56s linear infinite 0s;
  filter: saturate(40%) grayscale(40%) blur(3px) sepia(50%);
}

.slideshow li:nth-child(1) span {
  background-image: url(images/image1.jpg);
}

.slideshow li:nth-child(2) span {
  background-image: url(images/image2.jpg);
  animation-delay: 8s;
}

.slideshow li:nth-child(3) span {
  background-image: url(images/image3.jpg);
  animation-delay: 16s;
}

.slideshow li:nth-child(4) span {
  background-image: url(images/image4.jpg);
  animation-delay: 24s;
}

.slideshow li:nth-child(5) span {
  background-image: url(images/image5.jpg);
  animation-delay: 32s;
}

.slideshow li:nth-child(6) span {
  background-image: url(images/image6.jpg);
  animation-delay: 40s;
}

.slideshow li:nth-child(7) span {
  background-image: url(images/image7.jpg);
  animation-delay: 48s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  5% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.no-cssanimations .slideshow li span {
  opacity: 1;
}

.subjectMenu {
	background-color: #AAAAAA;
	margin-top: 8px;
	padding: 10px 0;
	height: 200px;
}

ul#schoolMenu li {
	float: left;
	font-size: 18px;
	border: solid 2px white;
	margin-bottom: 8px;
	margin-left: 15px;
	padding: 10px 0;
	width: 200px;
	transition: background-color 0.2s ease;
}

#topRightSchool{
	border-top-right-radius: 28px;
}

#topLeftSchool{
	border-top-left-radius: 28px;
}

ul#schoolMenu li:hover {
	background-color: white;
}

#nextKnop {
	font-size: 18px;
	border: solid 2px white;
	padding: 10px 0;
	width: 70px;
	margin-top: 55px;
	background-color: #AAA;
	transition: background-color 0.2s ease;
	border-top-right-radius: 28px;
}

#nextKnop:hover {
	cursor: pointer;
	background-color: white;
}

ul {
	list-style-type: none;
}

#logboek {
	border:solid 1px black;
	border-spacing: 3px;
	background-color:#909090;
}

#logboek td:nth-child(odd) {
	background-color:#EEEEEE;
}

#logboek th {
	background-color:#DDDDDD;
	padding:8px 28px;
}

#logboek td {
	border:solid 1px #555555;
	border-collapse:collapse;
	background-color:#DDDDDD;
}

a {
	text-decoration: none;
	font-size:18px; 
	font-weight: 700;
	color:#450101;
}

.anchorOffs {
	display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

a:hover {
	color:#B50003;
	font-style: oblique;
}

a:hover > li {
	font-style:normal;
}

ul a {
	color:black;
	font-size:16px; 
}

.social img {
	filter: blur(0.5px);
}

.social img:hover {
	filter: blur(0.5px) opacity(0.55);
}

h1 {
	font-size: 55px;
	text-shadow: 0 0 1px #000000;
	text-align: center;
}

h2 {
	font-size:40px;
	color:#DDDDDD;
}

h3 {
	font-size:30px;
	color:black;
}

body { 
	background-color: var(--color_back);
	margin: var(--margin_big) auto auto auto;
	width: 85%;
}

#header {
	background-color: var(--color_one);
	height: 100px;
	padding: 50px;
	z-index: 0;
	border-bottom: solid 1px #CCCCCC;
	border-right: solid 1px #CCCCCC;

}

#logo {
	width: 17.5%;
	background-color: var(--color_two);
	z-index: 2;
	float: left;
	margin-top:-5%;
	padding: 10px 20px;
}

#logo img {
	width: 100%;
}

#logo.rotate:hover {
	cursor:pointer;
	animation-name: logoRotate;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

@keyframes logoRotate {
	0% {transform: scale(1.0)}
	25% {transform: scale(1.05) rotate(2deg)}
	50% {transform: scale(1.0)}
	75% {transform: scale(1.05) rotate(-2deg)}
}

footer 
{
	padding: 2px 2px;
	text-align: center;
	background-color: var(--color_one);
	max-height: 50px;
	position: relative;
	clear: both;
}

footer h5 {
	font-weight: bold;
	font-size:18px;
	margin-top:15px;
}

footer a {
	background-color: #ccc;
	padding:10px;
	color: #fff;
	transition: background-color 0.2s ease;
}
footer a:hover {
	background-color: #b4b4b4;
	color: #ddd;
}

#socialMedia {
	width: 100%;
	background-color: var(--color_one);
	position: relative;
	z-index: 1;
}

#socialLinks {
	margin-left: 15px;
}

#stylebutton {
	padding: 10px;
	margin-left: 100px; 
	margin-bottom: 25px; 
	margin-top: -35px;
	border-radius: 2px;
	background-color:#EEEEEE;
}

#stylebutton:hover {
	background-color:#FFF;
	cursor:pointer;
}

.download {
	padding: 15px 10px;
	background-color: #ccc;
	color:#555;
	transition: padding 0.3s ease, border-radius 0.3s ease;
	border-radius: 0px;
}

.download:hover {
	font-style: italic;
	color:#555;
	background-color: #b4b4b4;
	padding: 20px 20px;
	border-radius: 5px;
}

.download:active {
	font-weight: bold;
	color: #999;
	background-color: #555;
	margin-top: 5px;
}

.download:active img{
	filter:invert(60%);
}

#chosen {
	background-color:#626262;
	color: var(--color_two);
	font-size:18px;
}

#sideA {
	float:left;
	width:20%; 
	display:inline-block;
}

nav {
	width:100%;
	background-color: var(--color_one);
	margin: 10px var(--margin_small) var(--margin_small) 0;
	padding: 5px 0 5px 0;
	z-index: 1;
}

nav li {
	padding: 10px 0 10px 0;
	width: 100%;
	margin: auto auto 10px -20px;
	text-align: center;
}

nav li:hover {
	background-color: #AAA;
	color: #555;
	font-size:18px;
	animation-name: move;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease;
}

nav li:active {
	background-color: var(--color_two);
	color: #222;
	background-color: #999;
}

.content {
	background-color: var(--color_one);
	text-align: center;
	width: 100%;
	padding-top:1px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	margin-bottom: var(--margin_small);
}

#opdrachtIMG {
	border: solid 8px #AAA;
	border-radius: 8px;
	padding: 10px;
}

#backButton, #forwardButton {
	background-color: #ccc;
	font-size:24px;
	color:#555;
	padding:10px;
	transition: padding 0.3s ease, border-radius 0.3s ease;
	border-radius: 0;
}

#backButton:hover, #forwardButton:hover {
	background-color: #b4b4b4;
	border-radius: 5px;
	padding: 15px;
}

@keyframes move {
	 from {padding: 10px 0 10px 0;}
	 to {padding: 15px 5px 15px 5px; margin-left:-25px;}
}


@media screen and (max-width:1300px) /* Small scaled */
{
	body {
		
	}
	
	#logo {
		width: 200px;
		margin-top:-1%;
	}
}